/* /Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-jtmdwgkv8t] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-jtmdwgkv8t] {
    flex: 1;
}

.sidebar[b-jtmdwgkv8t] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-jtmdwgkv8t] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-jtmdwgkv8t]  a, .top-row[b-jtmdwgkv8t]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-jtmdwgkv8t]  a:hover, .top-row[b-jtmdwgkv8t]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-jtmdwgkv8t]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-jtmdwgkv8t] {
        justify-content: space-between;
    }

    .top-row[b-jtmdwgkv8t]  a, .top-row[b-jtmdwgkv8t]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-jtmdwgkv8t] {
        flex-direction: row;
    }

    .sidebar[b-jtmdwgkv8t] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-jtmdwgkv8t] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-jtmdwgkv8t]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-jtmdwgkv8t], article[b-jtmdwgkv8t] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-jtmdwgkv8t] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-jtmdwgkv8t] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* /Components/Layout/ReconnectModal.razor.rz.scp.css */
.components-reconnect-first-attempt-visible[b-blfohjau7m],
.components-reconnect-repeated-attempt-visible[b-blfohjau7m],
.components-reconnect-failed-visible[b-blfohjau7m],
.components-pause-visible[b-blfohjau7m],
.components-resume-failed-visible[b-blfohjau7m],
.components-rejoining-animation[b-blfohjau7m] {
    display: none;
}

#components-reconnect-modal.components-reconnect-show .components-reconnect-first-attempt-visible[b-blfohjau7m],
#components-reconnect-modal.components-reconnect-show .components-rejoining-animation[b-blfohjau7m],
#components-reconnect-modal.components-reconnect-paused .components-pause-visible[b-blfohjau7m],
#components-reconnect-modal.components-reconnect-resume-failed .components-resume-failed-visible[b-blfohjau7m],
#components-reconnect-modal.components-reconnect-retrying[b-blfohjau7m],
#components-reconnect-modal.components-reconnect-retrying .components-reconnect-repeated-attempt-visible[b-blfohjau7m],
#components-reconnect-modal.components-reconnect-retrying .components-rejoining-animation[b-blfohjau7m],
#components-reconnect-modal.components-reconnect-failed[b-blfohjau7m],
#components-reconnect-modal.components-reconnect-failed .components-reconnect-failed-visible[b-blfohjau7m] {
    display: block;
}


#components-reconnect-modal[b-blfohjau7m] {
    background-color: white;
    width: 20rem;
    margin: 20vh auto;
    padding: 2rem;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: display 0.5s allow-discrete, overlay 0.5s allow-discrete;
    animation: components-reconnect-modal-fadeOutOpacity-b-blfohjau7m 0.5s both;
    &[open]

{
    animation: components-reconnect-modal-slideUp-b-blfohjau7m 1.5s cubic-bezier(.05, .89, .25, 1.02) 0.3s, components-reconnect-modal-fadeInOpacity-b-blfohjau7m 0.5s ease-in-out 0.3s;
    animation-fill-mode: both;
}

}

#components-reconnect-modal[b-blfohjau7m]::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    animation: components-reconnect-modal-fadeInOpacity-b-blfohjau7m 0.5s ease-in-out;
    opacity: 1;
}

@keyframes components-reconnect-modal-slideUp-b-blfohjau7m {
    0% {
        transform: translateY(30px) scale(0.95);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes components-reconnect-modal-fadeInOpacity-b-blfohjau7m {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes components-reconnect-modal-fadeOutOpacity-b-blfohjau7m {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.components-reconnect-container[b-blfohjau7m] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#components-reconnect-modal p[b-blfohjau7m] {
    margin: 0;
    text-align: center;
}

#components-reconnect-modal button[b-blfohjau7m] {
    border: 0;
    background-color: #6b9ed2;
    color: white;
    padding: 4px 24px;
    border-radius: 4px;
}

    #components-reconnect-modal button:hover[b-blfohjau7m] {
        background-color: #3b6ea2;
    }

    #components-reconnect-modal button:active[b-blfohjau7m] {
        background-color: #6b9ed2;
    }

.components-rejoining-animation[b-blfohjau7m] {
    position: relative;
    width: 80px;
    height: 80px;
}

    .components-rejoining-animation div[b-blfohjau7m] {
        position: absolute;
        border: 3px solid #0087ff;
        opacity: 1;
        border-radius: 50%;
        animation: components-rejoining-animation-b-blfohjau7m 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

        .components-rejoining-animation div:nth-child(2)[b-blfohjau7m] {
            animation-delay: -0.5s;
        }

@keyframes components-rejoining-animation-b-blfohjau7m {
    0% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 40px;
        left: 40px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}
